# Bondora Data Preprocessing 

In this project we will be doing credit risk modelling of peer to peer lending Bondora systems.Data for the study has been retrieved from a publicly available data set of a leading European P2P lending platform  ([**Bondora**](https://www.bondora.com/en/public-reports#dataset-file-format)).The retrieved data is a pool of both defaulted and non-defaulted loans from the time period between **1st March 2009** and **27th January 2020**. The data
comprises of demographic and financial information of borrowers, and loan transactions.In P2P lending, loans are typically uncollateralized and lenders seek higher returns as a compensation for the financial risk they take. In addition, they need to make decisions under information asymmetry that works in favor of the borrowers. In order to make rational decisions, lenders want to minimize the risk of default of each lending decision, and realize the return that compensates for the risk.

In this notebook we will preprocess the raw dataset and will create new preprocessed csv that can be used for building credit risk models.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# To display all the columns of dataframe
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"C:\Users\intel\Desktop\Internship\Bondora_raw\Bondora_raw.csv",low_memory=False)

In [3]:
df.shape

(134529, 112)

In [4]:
df['Status'].value_counts()

Current    57135
Late       45772
Repaid     31622
Name: Status, dtype: int64

In [5]:
df.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,ContractEndDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,DateOfBirth,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,NrOfDependants,EmploymentStatus,EmploymentDurationCurrentEmployer,EmploymentPosition,WorkExperience,OccupationArea,HomeOwnershipType,IncomeFromPrincipalEmployer,IncomeFromPension,IncomeFromFamilyAllowance,IncomeFromSocialWelfare,IncomeFromLeavePay,IncomeFromChildSupport,IncomeOther,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,ActiveScheduleFirstPaymentReached,PlannedPrincipalTillDate,PlannedInterestTillDate,LastPaymentOn,CurrentDebtDaysPrimary,DebtOccuredOn,CurrentDebtDaysSecondary,DebtOccuredOnForSecondary,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault,DefaultDate,PrincipalOverdueBySchedule,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery,RecoveryStage,StageActiveSince,ModelVersion,Rating,EL_V0,Rating_V0,EL_V1,Rating_V1,Rating_V2,Status,Restructured,ActiveLateCategory,WorseLateCategory,CreditScoreEsMicroL,CreditScoreEsEquifaxRisk,CreditScoreFiAsiakasTietoRiskGrade,CreditScoreEeMini,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,2009-06-11 16:40:39,2009-06-16,2010-07-06,2009-07-27,2010-06-25,2010-06-25,17,5,2.0,1,61,1947-11-26,1.0,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,7,3.0,1.0,0,3.0,UpTo3Years,klienditeenindaja,MoreThan25Years,7.0,NaN,6000.0,0.0,0.0,0.0,0.0,0.0,4500.0,10500.0,0,0.0,0,0.0,0.0,25,True,1800.0000,319.0800,2010-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,91-120,NaN,NaN,NaN,NaN,115.0408,20.4222,0.0,0.0,0.00,0.00,1,83.0852,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,2009-06-10 15:48:57,2009-06-15,2009-07-07,2009-07-15,2009-07-15,2009-07-15,20,4,2.0,1,48,1960-11-05,1.0,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,7,5.0,4.0,0,3.0,MoreThan5Years,Õppealajuhataja lasteaias,MoreThan25Years,16.0,NaN,8300.0,0.0,0.0,0.0,0.0,0.0,2500.0,10800.0,0,0.0,0,0.0,0.0,15,True,2200.0000,45.8300,2009-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,NaN,NaN,NaN,NaN,NaN,140.6057,2.0227,0.0,0.0,0.00,0.00,2,255.6467,258.6256,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,2009-06-05 19:12:29,2009-06-15,NaN,2009-07-27,2011-02-25,2014-05-13,20,6,2.0,1,58,1950-11-13,1.0,EE,319.5582,319.5409,25.0,20,NaN,PÄRNU,PÄRNU,2,4.0,1.0,0,3.0,UpTo4Years,teenindaja,MoreThan25Years,9.0,NaN,5000.0,0.0,0.0,0.0,0.0,0.0,2000.0,7000.0,0,0.0,0,0.0,0.0,25,True,319.5409,197.2926,2012-10-01,2813.0,2012-05-14,2935.0,2012-01-13,NaN,NaN,NaN,NaN,2012-07-16,116.35,236.97,38.24,279.5049,270.7323,163.1549,50.99,NaN,2016-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Late,True,180+,180+,NaN,NaN,NaN,NaN,203.1909,59.7626,0.0,0.0,116.35,414.07,0,0.0000,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,2009-06-13 12:01:20,2009-06-15,2010-09-15,2009-07-15,2010-09-15,2010-09-15,12,7,2.0,1,23,1986-03-29,1.0,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,0,2.0,3.0,1,NaN,UpTo2Years,juhtmekoitja,2To5Years,1.0,NaN,11000.0,0.0,0.0,0.0,0.0,0.0,600.0,11600.0,0,0.0,0,0.0,0.0,15,True,900.0000,293.1000,2010-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,31-60,NaN,NaN,NaN,NaN,57.5205,18.7323,0.0,0.0,0.00,0.00,1,134.2144,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,2009-06-10 10:17:13,2009-06-14,2016-07-28,2009-07-27,2010-06-25,2010-06-25,10,4,2.0,1,25,1983-09-30,1.0,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,6,4.0,2.0,0,3.0,UpTo2Years,klienditeenindaja,5To10Years,7.0,NaN,6800.0,0.0,0.0,0.0,0.0,0.0,0.0,6800.0,0,0.0,0,0.0,0.0,25,True,5000.0000,833.8100,2015-07-16,NaN,NaN,3835.0,2009-07-27,NaN,NaN,NaN,NaN,2009-09-28,NaN,247.76,29.84,319.5436,319.5436,319.5436,220.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,180+,NaN,NaN,NaN,NaN,319.5436,220.4200,0.0,2.4,0.00,0.00,1,146.9966,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

## Percentage of Missing Values

In [6]:
# To show all the rows of pandas dataframe
Null_values = (df.isnull().sum()*100/len(df)).round()
#print(Null_values.round())
Null_values

ReportAsOfEOD                              0.0
LoanId                                     0.0
LoanNumber                                 0.0
ListedOnUTC                                0.0
BiddingStartedOn                           0.0
BidsPortfolioManager                       0.0
BidsApi                                    0.0
BidsManual                                 0.0
UserName                                   0.0
NewCreditCustomer                          0.0
LoanApplicationStartedDate                 0.0
LoanDate                                   0.0
ContractEndDate                           56.0
FirstPaymentDate                           0.0
MaturityDate_Original                      0.0
MaturityDate_Last                          0.0
ApplicationSignedHour                      0.0
ApplicationSignedWeekday                   0.0
VerificationType                           0.0
LanguageCode                               0.0
Age                                        0.0
DateOfBirth                                0.0
Gender                                     0.0
Country                                    0.0
AppliedAmount                              0.0
Amount                                     0.0
Interest                                   0.0
LoanDuration                               0.0
MonthlyPayment                             5.0
County                                    27.0
City                                       7.0
UseOfLoan                                  0.0
Education                                  0.0
MaritalStatus                              0.0
NrOfDependants                            74.0
EmploymentStatus                           0.0
EmploymentDurationCurrentEmployer          1.0
EmploymentPosition                        73.0
WorkExperience                            73.0
OccupationArea                             0.0
HomeOwnershipType                          1.0
IncomeFromPrincipalEmployer                0.0
IncomeFromPension                          0.0
IncomeFromFamilyAllowance                  0.0
IncomeFromSocialWelfare                    0.0
IncomeFromLeavePay                         0.0
IncomeFromChildSupport                     0.0
IncomeOther                                0.0
IncomeTotal                                0.0
ExistingLiabilities                        0.0
LiabilitiesTotal                           0.0
RefinanceLiabilities                       0.0
DebtToIncome                               0.0
FreeCash                                   0.0
MonthlyPaymentDay                          0.0
ActiveScheduleFirstPaymentReached          0.0
PlannedPrincipalTillDate                  60.0
PlannedInterestTillDate                    3.0
LastPaymentOn                              7.0
CurrentDebtDaysPrimary                    64.0
DebtOccuredOn                             64.0
CurrentDebtDaysSecondary                  61.0
DebtOccuredOnForSecondary                 61.0
ExpectedLoss                               2.0
LossGivenDefault                           2.0
ExpectedReturn                             2.0
ProbabilityOfDefault                       2.0
DefaultDate                               68.0
PrincipalOverdueBySchedule                11.0
PlannedPrincipalPostDefault               68.0
PlannedInterestPostDefault                68.0
EAD1                                      68.0
EAD2                                      68.0
PrincipalRecovery                         68.0
InterestRecovery                          68.0
RecoveryStage                             43.0
StageActiveSince                          40.0
ModelVersion                               2.0
Rating                                     2.0
EL_V0                                     97.0
Rating_V0                                 97.0
EL_V1                                     90.0
Rating_V1                                 90.0
Rating_V2                                 81.0
Status                                     0.0
Restructured                               0.0
ActiveLateCategory                        64.0
WorseLateCategory                         34.0
CreditScoreEsMicroL                       22.0
CreditScoreEsEquifaxRisk                  91.0
CreditScoreFiAsiakasTietoRiskGrade        76.0
CreditScoreEeMini                         47.0
PrincipalPaymentsMade                      0.0
InterestAndPenaltyPaymentsMade             0.0
PrincipalWriteOffs                        56.0
InterestAndPenaltyWriteOffs               56.0
PrincipalBalance                           0.0
InterestAndPenaltyBalance                  0.0
NoOfPreviousLoansBeforeLoan                0.0
AmountOfPreviousLoansBeforeLoan            0.0
PreviousRepaymentsBeforeLoan              32.0
PreviousEarlyRepaymentsBefoleLoan         57.0
PreviousEarlyRepaymentsCountBeforeLoan     0.0
GracePeriodStart                          86.0
GracePeriodEnd                            86.0
NextPaymentDate                           51.0
NextPaymentNr                             27.0
NrOfScheduledPayments                     27.0
ReScheduledOn                             70.0
PrincipalDebtServicingCost                56.0
InterestAndPenaltyDebtServicingCost       56.0
ActiveLateLastPaymentCategory             61.0
dtype: float64

In [7]:
# converting serieś to dataframe 
missing_value_df = pd.DataFrame({'percent_missing': Null_values})

In [8]:
# list of  the columns having more than 40% missing values
Columns_with_nulls = missing_value_df[missing_value_df['percent_missing'] > 40].index
Columns_with_nulls

Index(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'],
      dtype='object')

In [9]:
# drop missing  values columns Except 'DefaultDate ' column
df.drop(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'], axis = 1, inplace = True)

In [10]:
df.shape

(134529, 77)

Apart from missing value features there are some features which will have no role in default prediction like 'ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth' (**because age is already present**), 'BiddingStartedOn','UserName','NextPaymentNr','NrOfScheduledPayments','IncomeFromPrincipalEmployer', 'IncomeFromPension',
'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare','IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther' (**As Total income is already present which is total of all these income**), 'LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate',
       'LastPaymentOn', 'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
       'ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory'

In [11]:
cols_del = ['ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth',
       'BiddingStartedOn','UserName','NextPaymentNr',
       'NrOfScheduledPayments','IncomeFromPrincipalEmployer', 'IncomeFromPension',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther','LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate',
       'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
       'ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory']

In [12]:
df.drop(cols_del,axis=1, inplace = True )

In [13]:
df.shape

(134529, 48)

## Creating Target Variable

Here, status is the variable which help us in creating target variable. The reason for not making status as target variable is that it has three unique values **current, Late and repaid**. There is no default feature but there is a feature **default date** which tells us when the borrower has defaulted means on which date the borrower defaulted. So, we will be combining **Status** and **Default date** features for creating target  variable.The reason we cannot simply treat Late as default because it also has some records in which actual status is Late but the user has never defaulted i.e., default date is null.
So we will first filter out all the current status records because they are not matured yet they are current loans.

In [14]:
# let's find the counts of each status categories 
df['Status'].value_counts()

Current    57135
Late       45772
Repaid     31622
Name: Status, dtype: int64

In [15]:
# filtering out Current Status records
loan = df[df['Status'] != 'Current']

Now, we will create new target variable in which 0 will be assigned when default date is null means borrower has never defaulted while 1 in case default date is present.

In [16]:
# Encoding 0 for not Deafult and 1 for default
Target_col = df['DefaultDate'].notnull().astype(int)
Target_col

0         0
1         0
2         1
3         0
4         1
         ..
134524    1
134525    0
134526    1
134527    1
134528    1
Name: DefaultDate, Length: 134529, dtype: int32

In [17]:
# check the counts of default and nondefault 
Target_col.value_counts()

0    91614
1    42915
Name: DefaultDate, dtype: int64

Now, we will remove Loan Status and default date as we have already created target variable with the help of these two features

In [18]:
# drop the columns
df.drop(['Status','DefaultDate'],axis = 1, inplace = True)

In [19]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,LoanDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,LastPaymentOn,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,0,0,115.0410,True,2009-06-16,2009-07-27,2010-06-25,2010-06-25,2.0,1,61,1.0,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,7,3.0,1.0,3.0,UpTo3Years,7.0,NaN,10500.0,0,0.0,0,0.0,0.0,25,2010-07-06,NaN,False,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0
1,0,0,140.6057,False,2009-06-15,2009-07-15,2009-07-15,2009-07-15,2.0,1,48,1.0,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,7,5.0,4.0,3.0,MoreThan5Years,16.0,NaN,10800.0,0,0.0,0,0.0,0.0,15,2009-07-07,NaN,False,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0
2,0,0,319.5580,True,2009-06-15,2009-07-27,2011-02-25,2014-05-13,2.0,1,58,1.0,EE,319.5582,319.5409,25.0,20,NaN,PÄRNU,PÄRNU,2,4.0,1.0,3.0,UpTo4Years,9.0,NaN,7000.0,0,0.0,0,0.0,0.0,25,2012-10-01,NaN,True,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0
3,0,0,57.5205,True,2009-06-15,2009-07-15,2010-09-15,2010-09-15,2.0,1,23,1.0,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,0,2.0,3.0,NaN,UpTo2Years,1.0,NaN,11600.0,0,0.0,0,0.0,0.0,15,2010-09-15,NaN,False,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0
4,0,0,319.5582,True,2009-06-14,2009-07-27,2010-06-25,2010-06-25,2.0,1,25,1.0,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,6,4.0,2.0,3.0,UpTo2Years,7.0,NaN,6800.0,0,0.0,0,0.0,0.0,25,2015-07-16,NaN,False,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0

In [20]:
df.shape

(134529, 46)

## Checking datatype of all features
In this step we will see any data type mismatch

In [21]:
df.dtypes

BidsPortfolioManager                        int64
BidsApi                                     int64
BidsManual                                float64
NewCreditCustomer                            bool
LoanDate                                   object
FirstPaymentDate                           object
MaturityDate_Original                      object
MaturityDate_Last                          object
VerificationType                          float64
LanguageCode                                int64
Age                                         int64
Gender                                    float64
Country                                    object
AppliedAmount                             float64
Amount                                    float64
Interest                                  float64
LoanDuration                                int64
MonthlyPayment                            float64
County                                     object
City                                       object
UseOfLoan                                   int64
Education                                 float64
MaritalStatus                             float64
EmploymentStatus                          float64
EmploymentDurationCurrentEmployer          object
OccupationArea                            float64
HomeOwnershipType                         float64
IncomeTotal                               float64
ExistingLiabilities                         int64
LiabilitiesTotal                          float64
RefinanceLiabilities                        int64
DebtToIncome                              float64
FreeCash                                  float64
MonthlyPaymentDay                           int64
LastPaymentOn                              object
Rating                                     object
Restructured                                 bool
CreditScoreEsMicroL                        object
PrincipalPaymentsMade                     float64
InterestAndPenaltyPaymentsMade            float64
PrincipalBalance                          float64
InterestAndPenaltyBalance                 float64
NoOfPreviousLoansBeforeLoan                 int64
AmountOfPreviousLoansBeforeLoan           float64
PreviousRepaymentsBeforeLoan              float64
PreviousEarlyRepaymentsCountBeforeLoan      int64
dtype: object

- First we will delete all the features related to date as it is not a time series analysis so these features will not help in predicting target variable.
- As we can see in numeric column distribution there are many columns which are present as numeric but they are actually categorical as per data description such as Verification Type, Language Code, Gender, Use of Loan, Education, Marital Status,EmployementStatus, OccupationArea etc.
- So we will convert these features to categorical features

In [22]:
#  Checking categorical variables
categorical_vars = df.select_dtypes(include=['object'])
categorical_vars.columns

Index(['LoanDate', 'FirstPaymentDate', 'MaturityDate_Original',
       'MaturityDate_Last', 'Country', 'County', 'City',
       'EmploymentDurationCurrentEmployer', 'LastPaymentOn', 'Rating',
       'CreditScoreEsMicroL'],
      dtype='object')

In [23]:
#  Checking distribution of categorical variables
categorical_vars = df.select_dtypes(include=['object'])
categorical_vars.describe().transpose()

                                    count unique             top   freq
LoanDate                           134529   3502      2019-10-15    455
FirstPaymentDate                   134529   2138      2019-11-04   2030
MaturityDate_Original              134529   3105      2024-11-04    759
MaturityDate_Last                  134529   3310      2024-11-04    731
Country                            134529      4              EE  77335
County                              97689   1010   Harju maakond  22224
City                               124735   7733         Tallinn  15604
EmploymentDurationCurrentEmployer  133653      9  MoreThan5Years  52089
LastPaymentOn                      124998   2888      2020-01-13   9148
Rating                             131799      8               E  24461
CreditScoreEsMicroL                104955     11               M  92439

In [24]:
# checking distribution of all numeric columns
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
BidsPortfolioManager,134529.0,966.452876,1355.686016,0.0000,155.00,465.0000,1218.0000,10625.00
BidsApi,134529.0,29.111664,150.159148,0.0000,0.00,0.0000,5.0000,7570.00
BidsManual,134529.0,559.332590,750.360512,0.0000,96.00,317.0000,729.0000,10630.00
VerificationType,134484.0,2.817257,1.407908,0.0000,1.00,4.0000,4.0000,4.00
LanguageCode,134529.0,2.827874,1.959802,1.0000,1.00,3.0000,4.0000,22.00
Age,134529.0,40.819295,12.348693,0.0000,31.00,40.0000,50.0000,77.00
Gender,134484.0,0.442097,0.636083,0.0000,0.00,0.0000,1.0000,2.00
AppliedAmount,134529.0,2727.947540,2374.439168,31.9558,800.00,2125.0000,4145.0000,10632.00
Amount,134529.0,2543.872472,2170.128183,6.3900,744.00,2125.0000,3600.0000,10632.00
Interest,134529.0,35.889583,26.288644,3.0000,20.00,30.9300,40.4000,264.31
LoanDuration,134529.0,46.151573,15.202688,1.0000,36.00,48.0000,60.0000,60.00
MonthlyPayment,127844.0,119.083443,114.737919,0.0000,34.99,97.3800,157.5125,2368.54
UseOfLoan,134529.0,0.343026,3.311925,-1.0000,-1.00,-1.0000,0.0000,110.00
Education,134484.0,3.680713,1.174134,-1.0000,3.00,4.0000,5.0000,5.00
MaritalStatus,134484.0,-0.109165,1.555404,-1.0000,-1.00,-1.0000,1.0000,5.00
EmploymentStatus,134332.0,0.153716,1.940581,-1.0000,-1.00,-1.0000,3.0000,6.00
OccupationArea,134443.0,1.381708,4.880079,-1.0000,-1.00,-1.0000,1.0000,19.00
HomeOwnershipType,132877.0,3.357511,2.844225,-1.0000,1.00,2.0000,4.0000,10.00
IncomeTotal,134529.0,1724.150015,4970.165757,0.0000,857.00,1250.0000,1900.0000,1012019.00
ExistingLiabilities,134529.0,3.181797,3.424242,0.0000,1.00,2.0000,5.0000,40.00
LiabilitiesTotal,134529.0,562.027010,33831.634630,0.0000,73.54,316.3800,620.5800,12400000.00
RefinanceLiabilities,134529.0,0.187313,0.896455,0.0000,0.00,0.0000,0.0000,23.00
DebtToIncome,134484.0,7.769024,16.259688,0.0000,0.00,0.0000,3.0100,198.02
FreeCash,134484.0,122.239119,692.480442,-2332.0000,0.00,0.0000,1.6300,158748.64
MonthlyPaymentDay,134529.0,11.143188,7.044104,0.0000,5.00,10.0000,15.0000,28.00
PrincipalPaymentsMade,134529.0,761.476162,1371.557801,0.0000,50.87,208.1000,766.4100,10632.00
InterestAndPenaltyPaymentsMade,134529.0,488.397102,827.805133,0.0000,44.93,181.2100,568.5300,16873.00
PrincipalBalance,134529.0,1769.281104,2030.546309,-34.2000,212.82,1061.9900,2636.3300,10632.00
InterestAndPenaltyBalance,134529.0,701.567107,2514.595572,-2.6600,0.00,0.0000,202.9000,64494.77
NoOfPreviousLoansBeforeLoan,134529.0,1.487620,2.396148,0.0000,0.00,1.0000,2.0000,25.00
AmountOfPreviousLoansBeforeLoan,134529.0,2868.652401,4507.046575,0.0000,0.00,396.3541,4250.0000,53762.00
PreviousRepaymentsBeforeLoan,91368.0,928.395548,2042.348751,0.0000,0.00,197.9800,780.9500,34077.42
PreviousEarlyRepaymentsCountBeforeLoan,134529.0,0.069903,0.359461,0.0000,0.00,0.0000,0.0000,11.00

In [25]:
# deliting all Date columns
df.drop(['LoanDate', 'FirstPaymentDate', 'MaturityDate_Original',
       'MaturityDate_Last','LastPaymentOn'], axis = 1 , inplace = True)

# Now we will check the distribution of different categorical variables

In [26]:
# write your code here for VerificationType
df['VerificationType'].replace([0,1,2,3,4],['Not set','Income univerified','Income univerified cross-referenced by phone','Income verified','Income and expnses verified'],inplace = True)

In [27]:
df['VerificationType'].value_counts()

Income and expnses verified                     74572
Income univerified                              48648
Income verified                                  9428
Income univerified cross-referenced by phone     1828
Not set                                             8
Name: VerificationType, dtype: int64

In [28]:
# write your code here Gender
df['Gender'].replace([0,1,2],['Male','Woman','Undefined'],inplace = True)

In [29]:
df['Gender'].value_counts()

Male         85650
Woman        38213
Undefined    10621
Name: Gender, dtype: int64

In [30]:
# write your code here LanguageCode
#3As we can see from above in language code w ehave only descriptions for values 1,2,3,4,5,6, and 9
# but it has other values too like 21,22,15,13,10 and 7 but they are very less it may happen they are local language codes whose decription is not present so we will be treated all these values as others

# write your code here

#1 Estonian 2 English 3 Russian 4 Finnish 5 German 6 Spanish 9 Slovakian
df['LanguageCode'].replace([1,2,3,4,5,6,9,7,10,13,15,21,22],['Estonian','English','Russian','Finnish','German','Spanish','Slovakian','Others','Others','Others','Others','Others','Others'],inplace = True)

In [31]:
df['LanguageCode'].value_counts()

Estonian     64299
Finnish      32155
Spanish      24103
Russian      12694
English        967
Slovakian      295
Others          11
German           5
Name: LanguageCode, dtype: int64

In [32]:
# write your code here for UseOfLoan
df['UseOfLoan'].replace([0,1,2,3,4,5,6,7,8,101,102,103,104,105,106,107,108,109,110],
                       ['Loan consolidation', 'Real estate','Home improvement','Business',
                       'Education',' Travel', 'Vehicle' ,'Other','Health',
                    'Working capital financing','Purchase of machinery equipment',
                    'Renovation of real estate','Accounts receivable financing', 
                    'Acquisition of means of transport','Construction finance',
                    'Acquisition of stocks','Acquisition of real estate',
                    'Guaranteeing obligation','other business'],
                        inplace = True)

In [33]:
df['UseOfLoan'].unique()

array(['Other', 'Home improvement', 'Loan consolidation', 'Vehicle',
       'Health', 'Business', ' Travel', 'Education', 'Real estate',
       'other business', 'Working capital financing',
       'Purchase of machinery equipment', 'Accounts receivable financing',
       'Acquisition of real estate', 'Construction finance',
       'Acquisition of stocks', -1], dtype=object)

As we can see from above stats most of the loans are -1 category whose description is not avaialble in Bondoro website so we have dig deeper to find that in Bondora most of the loans happened for which purpose so we find in Bondora [Statistics Page](https://www.bondora.com/en/public-statistics) most of the loans around 34.81% are for Not set purpose. so we will encode -1 as Not set category

In [34]:
df['UseOfLoan'].replace(-1,'Not Set',inplace = True)

In [35]:
df['UseOfLoan'].unique()

array(['Other', 'Home improvement', 'Loan consolidation', 'Vehicle',
       'Health', 'Business', ' Travel', 'Education', 'Real estate',
       'other business', 'Working capital financing',
       'Purchase of machinery equipment', 'Accounts receivable financing',
       'Acquisition of real estate', 'Construction finance',
       'Acquisition of stocks', 'Not Set'], dtype=object)

In [36]:
# write your code here for Education
df['Education'].replace([1,2,3,4,5],
                       [ 'Primary education','Basic education', 
                       'Vocational education', 'Secondary education',
                     'Higher education'], inplace = True)
# write your code here

In [37]:
df['Education'].unique()

array(['Vocational education', 'Higher education', 'Secondary education',
       'Basic education', 'Primary education', 0.0, nan, -1.0],
      dtype=object)

Again as we can see from above description for -1 and 0 in case of education is not present so we will encode them as Not_present as we dont know anything about them.

In [38]:
df['Education'].replace([0,-1],['Not_present','Not_present'], inplace = True)

In [39]:
# write your code here for MaritalStatus
df['MaritalStatus'].replace([1,2,3,4,5], ['Married','Cohabitant','Single',
                                         'Divorced','Widow'],inplace = True)

In [40]:
df['MaritalStatus'].value_counts()

-1.0          97946
Single        12400
Married       10752
Cohabitant     9400
Divorced       3377
Widow           601
0.0               8
Name: MaritalStatus, dtype: int64

Again Marital status of value 0 and -1 has no description so we will encode them as Not_specified

In [41]:
df['MaritalStatus'].replace([0,-1],['Not_specified','Not_specified'],inplace = True)

In [42]:
# write your code here for EmploymentStatus
df['EmploymentStatus'].replace([1,2,3,4,5,6,0,-1],['Unemployed','Partially employed','Fully employed',
  'Self-employed', 'Entrepreneur', 'Retiree','other','other'], inplace = True)

In [43]:
# write your code here for NewCreditCustomer
df['NewCreditCustomer'].replace([True,False],['Credit history of at least 3 month','No prior credit history'],inplace = True)

In [44]:
# write your code here for Restructured
df['Restructured'].value_counts()

False    106900
True      27629
Name: Restructured, dtype: int64

In [45]:
# write your code here for OccupationArea
df['OccupationArea'].replace([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,0,-1],
                    ['Other','Mining','Processing','Energy' ,'Utilities','Construction',
                    'Retail and wholesale' ,'Transport and warehousing', 'Hospitality and catering',
                    'Info and telecom', 'Finance and insurance', 'Real-estate' ,
                    'Research' ,'Administrative', 'Civil service & military', 
                     'Education','Healthcare and social help', 'Art and entertainmen',
                    'Agriculture', 'forestry and fishing','Not_specified','Not_specified'], 
                    inplace = True)

In [46]:
# write your code here for counts of HomeOwnershipType
df['HomeOwnershipType'].replace([0,1,2,3,4,5,6,7,8,9,10,-1],
    ['Homeless', 'Owner','Living with parents', 'Tenant', 'pre-furnished property',
 'Tenant unfurnished property' , 'Council house' ,'Joint tenant',
 'Joint ownership', 'Mortgage' , 'Owner with encumbrance','Other'],inplace = True)

In [47]:
# write your code here for counts of EmploymentStatus 
df['EmploymentStatus'].value_counts()

other                 97978
Fully employed        30060
Entrepreneur           2007
Retiree                1800
Self-employed          1303
Partially employed     1184
Name: EmploymentStatus, dtype: int64

In [48]:
# write your code here for counts of OccupationArea
df['OccupationArea'].value_counts()

Not_specified                 98008
Other                          8421
Retail and wholesale           3587
Construction                   3312
Processing                     3198
Transport and warehousing      2462
Healthcare and social help     2424
Hospitality and catering       2262
Info and telecom               1933
Civil service & military       1684
Education                      1430
Finance and insurance          1148
Agriculture                    1000
Administrative                  843
Art and entertainmen            619
Energy                          587
Research                        564
Real-estate                     477
Utilities                       362
Mining                          122
Name: OccupationArea, dtype: int64

In [49]:
# write your code here for counts of Restructured
df['Restructured'].value_counts()

False    106900
True      27629
Name: Restructured, dtype: int64

In [50]:
# write your code here for counts of NewCreditCustomer
df['NewCreditCustomer'].value_counts()

Credit history of at least 3 month    77808
No prior credit history               56721
Name: NewCreditCustomer, dtype: int64

In [51]:
# write your code here for counts of HomeOwnershipType
df['HomeOwnershipType'].value_counts()

Owner                          47334
Tenant                         29579
Living with parents            20780
Joint ownership                15457
Owner with encumbrance          7956
pre-furnished property          4582
Joint tenant                    3337
Council house                   1618
Tenant unfurnished property     1442
Mortgage                         743
Homeless                          46
Other                              3
Name: HomeOwnershipType, dtype: int64

In [52]:
# save the final data
df.to_csv('Bondora_preprocessed.csv',index=False)

In [53]:
df = pd.read_csv('Bondora_preprocessed.csv')

In [54]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,0,0,115.0410,Credit history of at least 3 month,Income univerified cross-referenced by phone,Estonian,61,Woman,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,Other,Vocational education,Married,Fully employed,UpTo3Years,Retail and wholesale,NaN,10500.0,0,0.0,0,0.0,0.0,25,NaN,False,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0
1,0,0,140.6057,No prior credit history,Income univerified cross-referenced by phone,Estonian,48,Woman,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,Other,Higher education,Divorced,Fully employed,MoreThan5Years,Education,NaN,10800.0,0,0.0,0,0.0,0.0,15,NaN,False,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0
2,0,0,319.5580,Credit history of at least 3 month,Income univerified cross-referenced by phone,Estonian,58,Woman,EE,319.5582,319.5409,25.0,20,NaN,PÄRNU,PÄRNU,Home improvement,Secondary education,Married,Fully employed,UpTo4Years,Hospitality and catering,NaN,7000.0,0,0.0,0,0.0,0.0,25,NaN,True,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0
3,0,0,57.5205,Credit history of at least 3 month,Income univerified cross-referenced by phone,Estonian,23,Woman,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,Loan consolidation,Basic education,Single,NaN,UpTo2Years,Other,NaN,11600.0,0,0.0,0,0.0,0.0,15,NaN,False,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0
4,0,0,319.5582,Credit history of at least 3 month,Income univerified cross-referenced by phone,Estonian,25,Woman,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,Vehicle,Secondary education,Cohabitant,Fully employed,UpTo2Years,Retail and wholesale,NaN,6800.0,0,0.0,0,0.0,0.0,25,NaN,False,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0

In [55]:
df.shape

(134529, 41)